.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
  padding-top: 20px;

  &:hover .academy__icon {
    color: $color-bg-special;
    fill: $color-bg-special;
  }

  &:active .academy__link,
  &:active .academy__icon {
    color: rgba($color-bg-special, 0.3);
    fill: rgba($color-bg-special, 0.3);
  }

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet) {
    justify-content: flex-end;
    padding: 0;
  }
}

.academy__link {
  display: block;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: $color-text-description;
  text-decoration: none;
}

.academy__logo {
  color: $color-button-special;

  &:focus-visible {
    color: $color-bg-special;
    fill: $color-bg-special;
    outline: none;
  }

  @media (min-width: $tablet) {
    margin-left: 28px;
  }
}

.academy__icon {
  display: flex;

  &:focus-visible {
    color: $color-bg-special;
    fill: $color-bg-special;
  }
}
