.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 20px;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    padding: 0;
  }
}

.academy__link {
  display: block;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: $color-text-description;
  text-decoration: none;
}

.academy__logo {
  @media (min-width: $tablet) {
    margin-left: 28px;
  }
}

.academy__icon {
  display: flex;
}
