.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-secondary;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: $color-bg-special;
  outline: transparent;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: $color-bg-active;
}

.button:active {
  background-color: $color-bg-active;
  color: rgb(255, 255, 255, 0.3);
}

.button:focus-visible {
  outline: 2px solid $color-text-description;
  background-color: $color-bg-special;
}
