.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 19px 20px 25px;
  border-top: 1px solid $color-border-additional;

  @media (min-width: $tablet) {
    width: 324px;
    padding: 161px 37px 39px 39px;
    background-color: $color-bg-secondary;
    border: 2px solid $color-border-card;
  }

  @media (min-width: $tablet) {
    width: 245px;
  }

  &--more {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
      background-color: $color-bg-main;
    }
  }
}

.card__link {
  text-decoration: none;
}

.card__image {
  @media (min-width: $tablet) {
    position: absolute;
    width: 168px;
    height: 200px;
    top: -73px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__info {
  width: 50%;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    width: 100%;
    margin-bottom: 33px;
  }

  &--more {
    width: 100%;
    margin-bottom: 21px;
  }
}

.card__title {
  max-width: 76px;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-special;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 171px;
    margin: 0 auto 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $tablet) {
    line-height: 21px;
  }

  &--more {
    max-width: unset;
    margin: 53px auto 10px;
    color: $color-text-additional;
    text-align: center;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 30px;
      background-color: $color-bg-icon;
      position: absolute;
      top: 25px;
      left: calc(50% - 1px);
    }

    &::after {
      transform: rotate(90deg);
    }

    @media (min-width: $tablet) {
      max-width: 134px;
      margin-top: 0;
      margin-bottom: 23px;
      line-height: 22px;

      &::before,
      &::after {
        height: 60px;
        top: 52px;
      }
    }
  }
}

.card__text {
  &--more {
    font-family: $font-secondary;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $color-text-description;

    @media (min-width: $tablet) {
      max-width: 165px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.card__features {
  @include list-reset;
}

.card__feature {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet) {
    padding-bottom: 9px;
    border-bottom: 1px solid $color-border-secondary;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }
}

.card__button {
  width: 100%;
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--more {
    color: $color-text-description;
    background-color: $color-bg-secondary;
  }
}
