.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid $color-border-additional;

  @media (min-width: $tablet) {
    border: none;
  }
}

.card__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  padding: 21px 20px 23px;

  @media (min-width: $tablet) {
    width: 324px;
    padding: 159px 35px 38px 35px;
    background-color: $color-bg-secondary;
    border: 2px solid $color-border-card;
  }

  @media (min-width: $desktop) {
    width: 245px;
    padding: 162px 37px 38px 39px;
  }

  &--more {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (min-width: $tablet) {
      background-color: $color-bg-main;
    }

    @media (min-width: $desktop) {
      padding-top: 158px;
    }
  }
}

.card__link {
  display: flex;
  width: 50%;
  justify-content: center;
  text-decoration: none;

  &--text {
    width: 100%;
    justify-content: flex-start;
  }

  @media (min-width: $tablet) {
    max-width: unset;
  }
}

.card__image {
  @media (min-width: $tablet) {
    position: absolute;
    width: 168px;
    height: 200px;
    top: -74px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: none;
  }

  @media (min-width: $desktop) {
    width: 172px;
    height: 196px;
    top: -80px;
  }
}

.card__info {
  width: 50%;
  margin-bottom: 22px;

  @media (min-width: $tablet) {
    width: 100%;
    margin-bottom: 33px;
  }

  &--more {
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: $tablet) {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.card__title {
  max-width: 76px;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text-special;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    max-width: 171px;
    margin: 0 auto 19px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: 23px;
    line-height: 21px;
  }

  &--more {
    max-width: unset;
    margin: 58px auto 8px;
    color: $color-text-additional;
    text-align: center;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 30px;
      background-color: $color-bg-icon;
      position: absolute;
      top: 25px;
      left: calc(50% - 1px);
    }

    &::after {
      transform: rotate(90deg);
    }

    @media (min-width: $tablet) {
      max-width: 134px;
      margin-top: 0;
      margin-bottom: 24px;
      line-height: 22px;

      &::before,
      &::after {
        height: 60px;
        top: 52px;
      }
    }

    @media (min-width: $desktop) {
      margin-bottom: 23px;

      &::before,
      &::after {
        top: 50px;
      }
    }
  }
}

.card__text {
  &--more {
    font-family: $font-secondary;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $color-text-description;

    @media (min-width: $tablet) {
      max-width: 165px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.card__features {
  @include list-reset;
  max-width: 250px;
  margin: 0 auto;

  @media (min-width: $desktop) {
    max-width: 169px;
  }
}

.card__feature {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet) {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-border-secondary;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }
}

.card__small-text {
  @media (min-width: $tablet) {
    margin-right: 4px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
  }
}

.card__button {
  width: 100%;
  min-height: 40px;
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--more {
    color: $color-text-description;
    background-color: $color-bg-secondary;

    &:hover {
      background-color: $color-bg-additional-hover;
    }

    &:active {
      background-color: $color-bg-additional-hover;
      color: rgba($color-text-description, 0.3);
    }
  }
}
