.catalog {
  width: 100%;
}

.catalog__container {
  padding: 27px 0 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
    padding: 51px 30px 44px;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: 68px 110px 51px;
  }
}

.catalog__title-container {
  width: 100%;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.catalog__title {
  width: 280px;
  margin: 0 auto 40px;
  color: $color-text-main;
  text-align: left;

  @media (min-width: $tablet) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 163px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 166px;
  }
}

.catalog__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    max-width: 708px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
    max-width: unset;
  }
}
