.cooperation {
  width: 100%;
  background-color: $color-bg-main;

  &--inner {
    background-color: $color-bg-secondary;
  }

  @media (min-width: $desktop) {
    position: relative;
    max-width: 1440px;
  }
}

.cooperation__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 320px;
  padding: 26px 18px 25px 21px;

  @media (min-width: $tablet) {
    max-width: 768px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    width: 565px;
    padding: 59px 60px 56px 80px;
    top: 95px;
    margin-left: 110px;
    background-color: $color-bg-main;
    z-index: 1;
  }
}

.cooperation__title {
  margin: 0 17px 0 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-text-additional;

  @media (min-width: $tablet) {
    max-width: 171px;
    margin-right: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__text {
  line-height: 20px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 160px;
    min-height: 80px;
    margin-top: -5px;
    text-align: right;
  }

  @media (min-width: $desktop) {
    justify-content: flex-start;
    max-width: 175px;
    text-align: left;
  }
}

.cooperation__location-text {
  @media (min-width: $desktop) {
    display: block;
    margin-top: 20px;
  }
}
