.description {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: $tablet) {
    margin-bottom: 43px;
    border-bottom: 1px solid $color-border-additional;
  }

  @media (min-width: $desktop) {
    border-bottom: none;
  }
}

.description__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-left: 21px;
  padding-bottom: 49px;

  @media (min-width: $tablet) {
    max-width: unset;
    margin-bottom: 54px;
    padding-left: 31px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    padding-left: 110px;
    padding-bottom: 83px;
  }
}

.description__title {
  margin: 0 0 40px;
  color: $color-text-main;

  @media (min-width: $tablet) {
    margin-bottom: 72px;
  }
}

.description__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 134px 134px;
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 75px;
  }
}

.description__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 400;
  color: $color-text-description;

  &::before {
    content: "";
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-color: $color-bg-special;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-of-type(1) {
    &::before {
      background-image: url("../img/icons/icon-leaf.svg");
    }
  }

  &:nth-of-type(2) {
    &::before {
      background-image: url("../img/icons/icon-powder.svg");
    }
  }

  &:nth-of-type(3) {
    &::before {
      background-image: url("../img/icons/icon-eat.svg");
    }
  }

  &:nth-of-type(4) {
    &::before {
      background-image: url("../img/icons/icon-scales.svg");
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      position: absolute;
      display: inline-block;
      content: "1";
      top: -40px;
      right: 3px;
      font-family: $font-main;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
      color: $color-bg-secondary;
      background-color: inherit;
      z-index: -1;
    }

    &:first-child::after {
      right: 24px;
    }

    &:nth-child(2)::after {
      content: "2";
    }

    &:nth-child(3)::after {
      content: "3";
    }

    &:nth-child(4)::after {
      content: "4";
    }
  }

  @media (min-width: $desktop) {
    max-width: 250px;

    &::after {
      right: 0;
    }
  }
}
