.entry {
  position: relative;
  padding-top: 27px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 178px;
    left: 0;
    bottom: 0;
    background-color: $color-bg-main;
  }
}

.entry__container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.entry__title {
  margin: 0 0 25px;
  color: $color-text-secondary;
  text-align: center;
}

.entry__text {
  margin: 0 auto;
  font-family: $font-main;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $color-text-secondary;
  text-transform: uppercase;
  text-align: center;
}
