.entry {
  width: 100%;
}

.entry__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 27px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 320px;
    min-height: 302px;
    top: 0;
    background-image: url("../img/index-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-mobile-2x.jpg");
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 320px;
    min-height: 302px;
    top: 0;
    background-color: rgba($color-bg-special, 0.85);
  }

  @media (min-width: $tablet) {
    padding-left: 118px;
    margin-top: 51px;
    align-items: flex-start;
    padding-top: 0;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    width: 1440px;
    margin-top: 105px;
    padding-left: 190px;
  }
}

.entry__title {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 276px;
  margin: 0;
  margin-bottom: 25px;
  color: $color-text-secondary;
  z-index: 1;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $color-text-main;
    text-align: start;
    background-color: inherit;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.entry__text {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  color: $color-text-secondary;
  text-transform: uppercase;
  z-index: 1;

  @media (min-width: $tablet) {
    justify-content: flex-start;
    width: 450px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $color-text-main;
    background-color: inherit;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
    margin-left: 0;
  }
}

.entry__image {
  position: relative;
  z-index: 1;

  @media (min-width: $tablet) {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-left: -88px;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    width: 552px;
    height: 500px;
    top: -83px;
    left: 50%;
    transform: translateX(-13%);
  }
}

.entry__button {
  min-width: 280px;
  min-height: 40px;
  margin-top: -2px;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;

  @media (min-width: $tablet) {
    order: 3;
    min-width: 244px;
    min-height: 54px;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 526px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-bottom: 266px;
  }
}
