.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-bg-secondary;
}

.footer__social-wrapper {
  width: 100%;
  padding: 40px 20px;
  text-align: center;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 55px 30px;
  }

  @media (min-width: $desktop) {
    padding: 66px 110px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 143px;
    height: 26px;
    margin-bottom: 0;
  }
}
