.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $color-bg-secondary;
}

.footer__social-wrapper {
  width: 100%;
  padding: 40px 20px;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding: 56px 31px 56px 31px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding: 66px 110px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.footer__logo-icon {
  @media (min-width: $tablet) {
    width: 143px;
    height: 27px;
  }
}
