.form__wrapper {
  margin: 0;
  padding: 0 20px;
  border: none;

  @media (min-width: $tablet) {
    width: 630px;
    margin: 0 auto;
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
  }

  &--data {
    margin-bottom: 23px;

    @media (min-width: $tablet) {
      margin-bottom: 72px;
      padding: 0;
    }

    @media (min-width: $desktop) {
      width: 569px;
      margin-bottom: 0;
    }
  }

  &--target {
    padding: 22px 0 5px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    @media (min-width: $tablet) {
      padding: 24px 27px;
      border: 1px solid $color-border-form;
    }

    @media (min-width: $desktop) {
      width: 568px;
      min-height: 196px;
      margin-bottom: 0;
    }
  }

  &--contacts {
    width: 100%;
    padding: 43px 0 0;

    @media (min-width: $tablet) {
      padding-top: 97px;
    }

    @media (min-width: $desktop) {
      padding-top: 92px;
    }
  }

  &--comment {
    width: 100%;
    padding: 39px 0 0;

    @media (min-width: $tablet) {
      padding-top: 87px;
    }

    @media (min-width: $desktop) {
      padding-top: 90px;
    }
  }

  &--checkbox {
    width: 100%;
    padding: 39px 0 30px;

    @media (min-width: $tablet) {
      padding-top: 88px;
      padding-bottom: 72px;
    }

    @media (min-width: $desktop) {
      padding-top: 90px;
      padding-bottom: 83px;
    }
  }
}

.form__container {
  @media (min-width: $tablet) {
    width: 100%;
    padding: 0 67px 0 71px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    max-width: 1217px;
    margin: 0 auto;
    padding: 0;
  }
}

.form__title-wrapper {
  border-top: 2px solid $color-border-special;
}

.form__title-container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 768px;
    padding: 0 50px 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding: 0 68px;
  }
}

.form__title {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 21px;
  line-height: 26px;
  background-color: $color-bg-main;
  transform: translateY(-50%);

  @media (min-width: $tablet) {
    margin-bottom: 76px;
    padding-left: 39px;
    padding-right: 39px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 42px;
  }

  &--contacts {
    max-width: 225px;
    margin-bottom: 16px;
    transform: translateY(-37%);

    @media (min-width: $tablet) {
      max-width: unset;
      margin-bottom: 52px;
      transform: translateY(-66%);
    }

    @media (min-width: $desktop) {
      margin-bottom: 51px;
      transform: translateY(-68%);
    }
  }

  &--comment {
    margin-bottom: 22px;
    transform: translateY(-64%);

    @media (min-width: $tablet) {
      margin-bottom: 53px;
      transform: translateY(-66%);
    }
  }

  &--checkbox {
    margin-bottom: 17px;
    transform: translateY(-65%);

    @media (min-width: $tablet) {
      margin-bottom: 33px;
      transform: translateY(-66%);
    }
  }
}

.form__list-container {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: 0 110px;
  }
}

.form__list-wrapper {
  @media (min-width: $tablet) {
    max-width: 533px;
  }

  @media (min-width: $desktop) {
    max-width: unset;
  }
}

.form__list {
  @include list-reset;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 100%;
  }

  &--contacts {
    @media (min-width: $tablet) {
      max-width: 630px;
      margin: 0 auto;
    }

    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 78px;
      max-width: 1220px;
    }
  }

  &--checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 124px;
      margin-bottom: 42px;
    }

    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 0;
      column-gap: 80px;
      margin-bottom: 49px;
    }
  }
}

.form__field {
  &--radio {
    margin-bottom: 13px;

    @media (min-width: $tablet) {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &--checkbox {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }

    @media (min-width: $tablet) {
      width: 50%;
    }

    @media (min-width: $desktop) {
      width: 25%;
    }
  }
}

.form__item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet) {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &--contacts {
    position: relative;

    @media (min-width: $desktop) {
      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }
}

.form__icon {
  margin-right: 15px;
  position: absolute;
  top: calc(50% - 8.5px);
  right: 0;
  fill: none;

  @media (min-width: $tablet) {
    margin-right: 15px;
    top: calc(50% - 11.5px);
  }

  @media (min-width: $desktop) {
    margin-right: 18px;
    top: calc(50% - 9.5px);
  }
}

.form__control:focus-visible + .form__icon,
.form__control:hover + .form__icon {
  color: $color-bg-special;
}

.form__control:invalid + .form__icon,
.form__control:invalid:focus-within + .form__icon {
  color: $color-border-error;
}

.form__label {
  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text-description;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--text {
    margin-right: 15px;
  }

  &--contacts {
    margin-right: 11px;

    @media (min-width: $tablet) {
      margin-right: 24px;
    }
  }

  &--radio {
    color: $color-text-special;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &--checkbox {
    color: $color-text-main;
    cursor: pointer;

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

.form__label:hover .form__description::before {
  border: 1px solid $color-bg-form-focus;
}

.form__label:focus-within .form__description::before {
  border: 1px solid $color-bg-form-focus;
}

.form__textarea-container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 631px;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.form__control {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background: inherit;
  padding: 13px 19px;
  border: 0;
  outline: 1px solid $color-border-secondary;
  min-height: 45px;
  min-width: 173px;

  &:focus-visible,
  &:hover {
    outline: 2px solid $color-border-focus;
  }

  &:invalid {
    outline: 2px solid $color-border-error;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    min-height: 52px;
    padding: 10px 16px 10px 18px;
  }

  &--textarea {
    width: 100%;
    min-height: 148px;
    padding: 9px 11px 9px 15px;
    resize: none;

    @media (min-width: $tablet) {
      min-height: 172px;
      padding: 10px 21px 11px;
    }

    @media (min-width: $desktop) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: max-content;
    min-height: 30px;
    padding: 6px 15px;
    border: 0;
    border-radius: 50%;
  }

  &--contacts {
    padding: 13px 40px 13px 15px;

    @media (min-width: $tablet) {
      min-height: 52px;
      padding: 10px 16px 10px 18px;
    }
  }

  &--checkbox {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding-left: 45px;
  }
}

.form__description {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background-color: inherit;
    border: 1px solid $color-border-secondary;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 13px;
    height: 13px;
    left: 8.5px;
    top: 8.5px;
    background-color: $color-bg-special;
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    min-height: 40px;
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      width: 18px;
      height: 18px;
      left: 11px;
      top: 11px;
    }
  }

  &--checkbox {
    padding-left: 46px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
      background-color: inherit;
      border: 1px solid $color-border-secondary;
      border-radius: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: none;
      width: 18px;
      height: 14px;
      left: 5.5px;
      top: 8px;
      background-image: url("../img/icons/icon-check.svg");
      background-repeat: no-repeat;
      background-color: $color-bg-main;
      border-radius: 0;
    }

    @media (min-width: $tablet) {
      min-height: 40px;
      padding-left: 60px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 26px;
        height: 26px;
        left: 7px;
        top: 7px;
        background-image: url("../img/icons/icon-check-tablet.svg");
      }
    }
  }
}

.form__button-wrapper {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    max-width: unset;
    margin: 0;
    padding: 0;
  }
}

.form__submit-button {
  min-width: 280px;
  min-height: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet) {
    min-height: 52px;
    min-width: 282px;
    margin: 0;
    margin-right: 62px;
    padding: 13px 45px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    min-width: 568px;
    margin-right: 81px;
  }
}

.form__notification {
  line-height: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 7px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 3px;
  }
}

input::placeholder,
textarea::placeholder,
.form__control {
  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-text-description;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__control[type="radio"]:checked + .form__description::after {
  display: block;
}

.form__control[type="checkbox"]:checked + .form__description--checkbox::after {
  display: block;
}
