.form-block__container {
  padding: 0 20px;
}

.form-block__title {
  margin-bottom: 37px;
  color: $color-text-main;
}

.form-block__text {
  margin-bottom: 39px;
  font-family: $font-main;
  color: $color-text-main;
  text-transform: uppercase;
}
