.form-block {
  padding-top: 27px;

  @media (min-width: $tablet) {
    padding-top: 65px;
  }

  @media (min-width: $desktop) {
    padding-top: 77px;
  }
}

.form-block__container {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 70px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
  }
}

.form-block__title {
  margin-bottom: 37px;
  color: $color-text-main;

  @media (min-width: $tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 56px;
  }
}

.form-block__text {
  margin-bottom: 39px;
  font-family: $font-main;
  color: $color-text-main;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}
