.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  text-decoration: none;

  @media (min-width: $tablet) {
    display: block;
    min-height: 52px;
  }

  @media (min-width: $desktop) {
    display: block;
    min-height: 59px;
  }
}

.logo__image,
.logo__text {
  pointer-events: all;
  cursor: pointer;
}

.logo__text {
  @media (min-width: $tablet) {
    display: none;
  }
}

.logo__image {
  margin-right: 56px;

  @media (min-width: $tablet) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    height: 59px;
  }
}
