.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  min-height: 65px;
  margin: 0 auto;
  padding-top: 9px;

  @media (min-width: $tablet) {
    width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 1440px;
    margin-top: 54px;
  }
}

.main-header__logo {
  margin-left: 20px;
  z-index: 1;

  @media (min-width: $tablet) {
    width: 174px;
    margin-left: 31px;
  }

  @media (min-width: $desktop) {
    width: 202px;
    margin-left: 110px;
    margin-right: auto;
  }
}

.main-header__nav {
  display: flex;
  min-width: 100%;

  @media (min-width: $tablet) {
    min-width: 440px;
    margin-left: auto;
    margin-right: 30px;
  }

  @media (min-width: $desktop) {
    min-width: 478px;
    margin-right: 110px;
  }
}
