.menu {
  @include list-reset;
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;

  @media (min-width: $tablet) {
    position: relative;
    width: 440px;
    padding: 0;
    top: 0;
  }

  @media (min-width: $desktop) {
    min-width: 480px;
    margin-left: auto;
  }
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 66px;
  margin: 0;
  z-index: 2;
  border-bottom: 1px solid $color-border-additional;
  background-color: $color-bg-main;

  & :hover {
    opacity: 0.6;
  }

  & :active {
    opacity: 0.3;
  }

  & :focus-visible {
    outline: 2px solid $color-border-focus;
  }

  @media (min-width: $tablet) {
    width: max-content;
    min-height: 60px;
    border: none;
    z-index: 1;

    &:nth-of-type(2) {
      margin-right: 6px;
    }
  }

  @media (min-width: $desktop) {
    color: $color-text-secondary;
    background-color: inherit;

    &:nth-of-type(2) {
      margin-right: 0;
    }
  }
}

.menu__item:first-child {
  border-top: 1px solid $color-border-additional;

  @media (min-width: $tablet) {
    border: none;
  }
}

.menu__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    justify-content: space-between;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    color: $color-text-secondary;
    background-color: inherit;
  }
}

.menu__link--current {
  cursor: default;
  pointer-events: none;
}

.menu__link--current::after {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 32px;
    left: 0;
    background-color: $color-bg-special;
  }

  @media (min-width: $desktop) {
    background-color: $color-bg-main;
    top: 35px;
  }
}

.menu__item--inner .menu__link {
  @media (min-width: $desktop) {
    color: $color-text-main;
  }
}

.menu__item--inner .menu__link--current::after {
  @media (min-width: $desktop) {
    background-color: $color-bg-special;
  }
}
