.more-products {
  width: 100%;
  padding-top: 35px;

  @media (min-width: $tablet) {
    padding-top: 39px;
  }
}

.more-products__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px 35px;

  @media (min-width: $tablet) {
    max-width: unset;
    padding: 0 30px 77px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px 86px;
    display: grid;
    grid-template-columns: repeat(4, 20.1%);
    column-gap: 6.5%;
  }
}

.more-products__title-wrapper {
  margin-top: 5px;
  border-top: 2px solid $color-border-special;
}

.more-products__title-container {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 768px;
    margin-top: 0;
    padding: 0 30px 60px;
  }

  @media (min-width: $desktop) {
    max-width: 1440px;
    padding: 0 0 60px;
  }
}

.more-products__title {
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
  padding-left: 20px;
  padding-right: 21px;
  line-height: 24px;
  background-color: $color-bg-main;
  transform: translateY(-70%);

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-left: 37px;
    padding-right: 36px;
  }

  @media (min-width: $desktop) {
    margin-left: 72px;
  }
}

.more-products__list {
  @include list-reset;
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/4;
    margin-bottom: 0;
  }
}

.more-products__item {
  padding: 14px 0 18px;
  border-top: 1px solid $color-border-secondary;

  @media (min-width: $tablet) {
    padding: 26px 38px 28px;
    border: 1px solid $color-border-secondary;

    &:not(:first-of-type) {
      border-top: none;
    }
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 32% 32% 27%;
    column-gap: 4.5%;
    padding: 15px 0 16px;
    align-items: center;
    border: none;
    border-top: 1px solid $color-border-secondary;

    &:not(:first-of-type) {
      border-top: 1px solid $color-border-secondary;
    }
  }

  &:last-of-type {
    border-bottom: 1px solid $color-border-secondary;
  }
}

.more-products__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    grid-column: 1/3;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    column-gap: 6%;
  }
}

.more-products__link {
  text-decoration: none;

  @media (min-width: $tablet) {
    width: 50%;
  }
}

.more-products__name {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: $color-text-special;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.more-products__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    margin-top: 3px;
  }
}

.more-products__text {
  line-height: 14px;

  @media (min-width: $tablet) {
    line-height: 20px;
    text-align: right;

    &:last-of-type {
      min-width: 42px;
    }

    &:not(:last-of-type) {
      margin-right: 51px;
    }
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.more-products__button {
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  line-height: 12px;

  @media (min-width: $desktop) {
    grid-column: 3/4;
  }
}

.more-products__gift {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 280px;
    min-height: 290px;
    background-image: url("../img/gift.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 280px;
    min-height: 290px;
    background-color: rgba($color-bg-special, 0.85);
    background-image: url("../img/icons/icon_gift.svg");
    background-position: 50% 59px;
    background-repeat: no-repeat;
    top: 0;
  }

  @media (min-width: $tablet) {
    &::before {
      background-image: url("../img/gift-tablet.jpg");
      min-width: 707px;
      min-height: 200px;
    }

    &::after {
      min-width: 707px;
      min-height: 200px;
      background-position: 12.5% 50%;
    }
  }

  @media (min-width: $desktop) {
    grid-column: 4/5;
    min-width: 100%;
    min-height: 289px;
    justify-content: center;

    &::before {
      background-image: url("../img/gift-desktop.jpg");
      background-position: 50% 50%;
      min-width: 20.5%;
      min-height: 289px;
    }

    &::after {
      min-width: 20.5%;
      min-height: 289px;
      background-position: 51% 56px;
    }
  }
}

.more-products__gift-text {
  display: flex;
  text-align: center;
  position: relative;
  line-height: 20px;
  font-family: $font-secondary;
  color: $color-text-secondary;
  z-index: 1;
  width: 58%;
  margin: 187px auto 43px auto;

  @media (min-width: $tablet) {
    width: 40%;
    min-width: 161px;
    margin: 71px 18% 69px 60%;
    text-align: start;
  }

  @media (min-width: $desktop) {
    text-align: center;
    width: 58%;
    min-width: 161px;
    margin: 185px auto 42px auto;
  }
}
