.nav {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.nav--closed .nav__item {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: flex;
  }
}

.nav__toggle {
  display: block;
  margin-top: 24px;
  margin-right: 6%;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 0;
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  background-color: inherit;
  width: 24px;
  height: 24px;
  padding: 0;
  z-index: 3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    border: none;
    outline: 2px solid rgb(181, 181, 181);
    outline-offset: 2px;
    background-color: transparent;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-image: url("../img/icons/menu-button.svg");
  background-position: 0 0;
}

.nav--opened .nav__toggle {
  background-image: url("../img/icons/menu-close.svg");
}

.nav--no-js .nav__toggle {
  display: none;
}

.nav--no-js .nav__container {
  display: flex;
  width: 100%;
}

.nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav--no-js .nav__list {
  position: static;
  width: 100%;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.nav--no-js .nav__item {
  display: flex;
}
