.social {
  @include list-reset;
  display: flex;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 0 19px;
  justify-content: center;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @media (min-width: $tablet) {
    max-width: unset;
    margin-left: 26px;
    padding: 0;
    border: none;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  text-decoration: none;
  color: $color-button-special;

  &:hover .social__icon {
    color: $color-bg-special;
    fill: $color-bg-special;
  }

  &:active .social__icon {
    color: rgba($color-bg-special, 0.3);
    fill: rgba($color-bg-special, 0.3);
  }

  &:focus-visible {
    outline: none;
  }
}
