@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 110px;
  }
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}
.title--h1 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .title--h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
.title--h2 {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .title--h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
.title--h3 {
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}
@media (min-width: 768px) {
  .title--h3 {
    font-size: 36px;
    line-height: 36px;
  }
}

.text {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 24px;
  }
}
.text--small {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .text--small {
    font-size: 16px;
    line-height: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #68b738;
  outline: transparent;
  text-decoration: none;
  cursor: pointer;
}

.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  min-width: 320px;
}
@media (min-width: 768px) {
  .header-wrapper {
    margin-bottom: 0;
    background-image: none;
  }
}
@media (min-width: 1440px) {
  .header-wrapper {
    width: 100%;
    background-image: url("../img/index-background-desktop.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50vw 694px;
  }
  .header-wrapper::after {
    content: "";
    position: absolute;
    width: 50vw;
    min-height: 695px;
    top: 0;
    left: 50%;
    background-color: rgba(104, 183, 56, 0.85);
  }
}

.main-header {
  min-height: 66px;
  position: relative;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-header {
    padding: 0;
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-header {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    width: 1440px;
    margin-top: 54px;
  }
}

.main-header__logo {
  z-index: 1;
  width: calc(50% + 34px);
  margin-left: 6%;
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 174px;
    margin-left: 30px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    width: 202px;
    margin-left: calc(17% - 8px);
    margin-right: auto;
  }
}

.main-header__nav {
  display: flex;
  min-width: 100%;
}
@media (min-width: 768px) {
  .main-header__nav {
    min-width: 440px;
    margin-left: auto;
    margin-right: 30px;
  }
}
@media (min-width: 1440px) {
  .main-header__nav {
    width: 50%;
    margin-right: calc(22% - 4px);
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  text-decoration: none;
}
@media (min-width: 768px) {
  .logo {
    min-height: 54px;
  }
}

.logo__image,
.logo__text {
  pointer-events: all;
  cursor: pointer;
}

@media (min-width: 768px) {
  .logo__text {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo__image {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .logo__image {
    width: 202px;
    height: 59px;
  }
}

@media (min-width: 1440px) {
  .nav {
    display: flex;
  }
}

.nav--closed .nav__item {
  display: none;
}
@media (min-width: 768px) {
  .nav--closed .nav__item {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .nav--closed .nav__item {
    display: flex;
  }
}

.nav__toggle {
  display: block;
  margin-top: 24px;
  margin-right: 6%;
  position: absolute;
  cursor: pointer;
  border: none;
  top: 0;
  right: 0;
  left: auto;
  background-repeat: no-repeat;
  background-color: inherit;
  width: 24px;
  height: 24px;
  padding: 0;
  z-index: 3;
}
.nav__toggle:hover {
  opacity: 0.6;
}
.nav__toggle:active {
  opacity: 0.3;
}
.nav__toggle:focus-visible {
  border: none;
  outline: 2px solid #b5b5b5;
  outline-offset: 2px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav--closed .nav__toggle {
  background-image: url("../img/icons/menu-button.svg");
  background-position: 0 0;
}

.nav--opened .nav__toggle {
  background-image: url("../img/icons/menu-close.svg");
}

.nav--no-js .nav__toggle {
  display: none;
}

.nav--no-js .nav__container {
  display: flex;
  width: 100%;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav--no-js .nav__list {
  position: static;
  width: 100%;
}
@media (min-width: 768px) {
  .nav--no-js .nav__list {
    display: flex;
  }
}

.nav--no-js .nav__item {
  display: flex;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
}
@media (min-width: 768px) {
  .menu {
    position: relative;
    width: 440px;
    padding: 0;
    top: 0;
  }
}
@media (min-width: 1440px) {
  .menu {
    min-width: 477px;
    margin-left: auto;
    column-gap: 7%;
  }
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 67px;
  margin: 0;
  z-index: 2;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
}
.menu__item :hover {
  opacity: 0.6;
}
.menu__item :active {
  opacity: 0.3;
}
.menu__item :focus-visible {
  outline: 2px solid #444444;
}
@media (min-width: 768px) {
  .menu__item {
    border: none;
    z-index: 1;
    width: max-content;
  }
}
@media (min-width: 1440px) {
  .menu__item {
    color: #ffffff;
    background-color: inherit;
  }
}

.menu:first-child {
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .menu:first-child {
    border: none;
  }
}

.menu__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .menu__link {
    justify-content: space-between;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .menu__link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background-color: inherit;
  }
}

.menu__link--current {
  cursor: default;
  pointer-events: none;
}

@media (min-width: 768px) {
  .menu__link--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 31px;
    left: 0;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .menu__link--current::after {
    background-color: #ffffff;
    top: 35px;
  }
}

@media (min-width: 1440px) {
  .menu__item--inner .menu__link {
    color: #000000;
  }
}

@media (min-width: 1440px) {
  .menu__item--inner .menu__link--current::after {
    background-color: #68b738;
  }
}

.entry {
  width: 100%;
}

.entry__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 6%;
  padding-top: 29px;
  z-index: 1;
}
.entry__container::before {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 320px;
  min-height: 302px;
  top: 0;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.entry__container::after {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 320px;
  min-height: 302px;
  top: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
@media (min-width: 768px) {
  .entry__container {
    padding-left: 119px;
    margin-top: 54px;
    align-items: flex-start;
    padding-top: 0;
  }
  .entry__container::before, .entry__container::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .entry__container {
    width: 1440px;
    margin-top: 105px;
    padding-left: 190px;
  }
}

.entry__title {
  display: flex;
  text-align: center;
  width: 276px;
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  .entry__title {
    align-items: flex-start;
    width: 450px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    background-color: inherit;
  }
}

.entry__text {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
}
@media (min-width: 768px) {
  .entry__text {
    justify-content: flex-start;
    width: 450px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background-color: inherit;
  }
}
@media (min-width: 1440px) {
  .entry__text {
    margin-bottom: 52px;
  }
}

.entry__image {
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .entry__image {
    position: absolute;
    width: 709px;
    height: 609px;
    margin-left: -88px;
    bottom: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .entry__image {
    width: 552px;
    height: 500px;
    top: -84px;
    left: 50%;
    transform: translateX(-9%);
  }
}

.entry__button {
  min-width: 280px;
  min-height: 40px;
  margin-top: -3px;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
}
@media (min-width: 768px) {
  .entry__button {
    order: 3;
    min-width: 244px;
    min-height: 54px;
    margin: 0;
    margin-bottom: 526px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }
}
@media (min-width: 1440px) {
  .entry__button {
    margin-bottom: 267px;
  }
}

.main-services {
  width: 100%;
}

.main-services__container {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}
@media (min-width: 768px) {
  .main-services__container {
    gap: 30px;
    padding: 0 30px 45px 31px;
  }
}
@media (min-width: 1440px) {
  .main-services__container {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px 71px;
  }
}

.main-services__item {
  display: grid;
  grid-template-columns: 69px auto;
  width: 280px;
  padding: 30px 20px 18px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-services__item {
    width: 708px;
    padding: 77px 62px 57px 52px;
    grid-template-columns: 340px auto;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-services__item {
    width: 570px;
    padding: 47px 61px 59px 52px;
    grid-template-columns: 162px auto;
    justify-content: space-between;
  }
}

.main-services__icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 26px;
}
.main-services__icon-container::before {
  content: "";
  position: relative;
  width: 50px;
  height: 50px;
  left: 1px;
  top: 4px;
  border-radius: 50%;
  background-color: #68b738;
  z-index: 0;
}
@media (min-width: 768px) {
  .main-services__icon-container {
    grid-row: 1/4;
    grid-column: 2;
    margin-bottom: 0;
  }
  .main-services__icon-container::before {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .main-services__icon-container {
    grid-row: 1;
    grid-column: 1;
  }
  .main-services__icon-container::before {
    width: 100px;
    height: 100px;
  }
}

.main-services__icon {
  position: absolute;
  z-index: 1;
  left: 7px;
}
@media (min-width: 768px) {
  .main-services__icon {
    width: 140px;
    height: 194px;
    left: 30px;
  }
}
@media (min-width: 1440px) {
  .main-services__icon {
    width: 70px;
    height: 97px;
    left: 15px;
  }
}
.main-services__icon--secondary {
  top: 15px;
  left: -8px;
}
@media (min-width: 768px) {
  .main-services__icon--secondary {
    width: 268px;
    height: 112px;
    top: auto;
    left: -34px;
  }
}
@media (min-width: 1440px) {
  .main-services__icon--secondary {
    width: 134px;
    height: 100px;
    left: -19px;
  }
}

.main-services__title {
  grid-row: 1;
  grid-column: 2;
  margin: 9px 0 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-services__title {
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .main-services__title {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    align-self: center;
  }
}

.main-services__text {
  grid-row: 2;
  grid-column: 1/3;
  margin: 0 0 23px;
}
@media (min-width: 768px) {
  .main-services__text {
    grid-column: 1;
    margin-bottom: 36px;
  }
}
@media (min-width: 1440px) {
  .main-services__text {
    grid-row: 2;
    grid-column: 1/3;
    margin-top: 39px;
    margin-bottom: 23px;
  }
}

.main-services__link {
  position: relative;
  display: flex;
  align-items: center;
  grid-row: 3;
  grid-column: 1/3;
  padding-top: 19px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
}
.main-services__link::after {
  content: "";
  position: relative;
  display: block;
  width: 24px;
  height: 12px;
  margin-left: 15px;
  background-image: url("../img/icons/icon_arrow.svg");
}
@media (min-width: 768px) {
  .main-services__link {
    grid-column: 1;
    padding-top: 0;
    font-size: 20px;
    line-height: 30px;
    border-top: none;
  }
}

.description {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .description {
    margin-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .description {
    border-bottom: none;
  }
}

.description__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .description__container {
    max-width: unset;
  }
}
@media (min-width: 1440px) {
  .description__container {
    padding-bottom: 69px;
  }
}

.description__title {
  margin: 0 0 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .description__title {
    margin-bottom: 72px;
  }
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .description__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 114px 139px;
  }
}
@media (min-width: 1440px) {
  .description__list {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
}

.description__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 400;
  color: #444444;
}
.description__item::before {
  content: "";
  position: relative;
  min-width: 60px;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
.description__item:nth-of-type(1)::before {
  background-image: url("../img/icons/icon-leaf.svg");
}
.description__item:nth-of-type(2)::before {
  background-image: url("../img/icons/icon-powder.svg");
}
.description__item:nth-of-type(3)::before {
  background-image: url("../img/icons/icon-eat.svg");
}
.description__item:nth-of-type(4)::before {
  background-image: url("../img/icons/icon-scales.svg");
}
.description__item:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .description__item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .description__item::before {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1440px) {
  .description__item {
    max-width: 250px;
  }
}

.living-example {
  width: 100%;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .living-example {
    background-color: #ffffff;
  }
}

.living-example__container {
  max-width: 320px;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .living-example__container {
    display: grid;
    grid-template-columns: auto 174px;
    max-width: unset;
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .living-example__container {
    grid-template-columns: 433px auto;
    padding: 0 110px 75px;
  }
}

.living-example__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .living-example__title {
    grid-row: 1;
    grid-column: 1/3;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .living-example__title {
    margin-bottom: 146px;
  }
}

.living-example__text {
  grid-row: 2;
  grid-column: 1/3;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .living-example__text {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .living-example__text {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 69px;
  }
}

.living-example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .living-example__list {
    justify-content: flex-start;
    grid-row: 3;
    grid-column: 1;
    gap: 42px;
    margin-bottom: 54px;
  }
}

.living-example__item {
  position: relative;
  max-width: 124px;
  width: 50%;
  padding: 14px 0 17px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .living-example__item {
    max-width: 162px;
    padding: 15px 0 20px;
  }
}

.living-example__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .living-example__subtitle {
    font-size: 30px;
    line-height: 37px;
  }
}

.living-example__description {
  position: absolute;
  display: block;
  width: 60%;
  padding: 0;
  top: 45px;
  left: 24px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  text-align: center;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .living-example__description {
    top: 63px;
    left: 50%;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .living-example__description {
    top: 72px;
  }
}

.living-example__cost {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .living-example__cost {
    grid-row: 3;
    grid-column: 2;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .living-example__cost {
    display: flex;
    gap: 63px;
    grid-row: 4;
    grid-column: 1;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .living-example__slider {
    grid-row: 4;
    grid-column: 1/3;
  }
}
@media (min-width: 1440px) {
  .living-example__slider {
    grid-row: 1/4;
    grid-column: 2;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__toggle {
  display: none;
}

.map {
  position: relative;
  width: 100%;
}

.map__iframe {
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .map__iframe {
    height: 400px;
  }
}

.cooperation {
  width: 100%;
  background-color: #ffffff;
}
.cooperation--inner {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .cooperation {
    position: relative;
    max-width: 1440px;
  }
}

.cooperation__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 320px;
  padding: 26px 20px;
}
@media (min-width: 768px) {
  .cooperation__container {
    max-width: 768px;
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .cooperation__container {
    position: absolute;
    width: 565px;
    padding: 56px 60px 56px 80px;
    top: 95px;
    margin-left: 110px;
    background-color: #ffffff;
    z-index: 1;
  }
}

.cooperation__title {
  margin: 0 15px 0 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .cooperation__title {
    max-width: 171px;
    margin-right: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__text {
  line-height: 20px;
}
@media (min-width: 768px) {
  .cooperation__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 160px;
    min-height: 80px;
    text-align: right;
  }
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social {
    max-width: unset;
    padding: 0;
    border: none;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.social__item:last-of-type {
  margin-right: 0;
}

.social__link {
  display: flex;
  text-decoration: none;
}

.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .academy {
    justify-content: flex-end;
    padding: 0;
  }
}

.academy__link {
  display: block;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}

@media (min-width: 768px) {
  .academy__logo {
    margin-left: 28px;
  }
}

.academy__icon {
  display: flex;
}

.catalog {
  width: 100%;
}

.catalog__container {
  padding: 27px 0 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog__container {
    width: 768px;
    margin: 0 auto;
    padding: 65px 30px 68px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .catalog__container {
    width: 1440px;
    padding: 78px 110px 75px;
  }
}

.catalog__title-container {
  width: 100%;
}
@media (min-width: 768px) {
  .catalog__title-container {
    padding: 0;
  }
}

.catalog__title {
  width: 280px;
  margin: 0 auto 41px;
  color: #000000;
  text-align: left;
}
@media (min-width: 768px) {
  .catalog__title {
    width: 100%;
    margin-left: 0;
    margin-bottom: 163px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    max-width: 708px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 143px 80px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .card {
    border: none;
  }
}

.card__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
  padding: 19px 20px 25px;
}
@media (min-width: 768px) {
  .card__wrapper {
    width: 324px;
    padding: 161px 37px 39px 39px;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .card__wrapper {
    width: 245px;
  }
}
.card__wrapper--more {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .card__wrapper--more {
    background-color: #ffffff;
  }
}

.card__link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .card__image {
    position: absolute;
    width: 168px;
    height: 200px;
    top: -73px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__info {
  width: 50%;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .card__info {
    width: 100%;
    margin-bottom: 33px;
  }
}
.card__info--more {
  width: 100%;
  margin-bottom: 21px;
}

.card__title {
  max-width: 76px;
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__title {
    max-width: 171px;
    margin: 0 auto 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .card__title {
    line-height: 21px;
  }
}
.card__title--more {
  max-width: unset;
  margin: 53px auto 10px;
  color: #111111;
  text-align: center;
}
.card__title--more::before, .card__title--more::after {
  content: "";
  width: 2px;
  height: 30px;
  background-color: #d3d3d3;
  position: absolute;
  top: 25px;
  left: calc(50% - 1px);
}
.card__title--more::after {
  transform: rotate(90deg);
}
@media (min-width: 768px) {
  .card__title--more {
    max-width: 134px;
    margin-top: 0;
    margin-bottom: 23px;
    line-height: 22px;
  }
  .card__title--more::before, .card__title--more::after {
    height: 60px;
    top: 52px;
  }
}

.card__text--more {
  font-family: "Lato", "Arial", sans-serif;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .card__text--more {
    max-width: 165px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.card__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__feature {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .card__feature {
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
  .card__feature:not(:last-of-type) {
    margin-bottom: 7px;
  }
}

.card__button {
  width: 100%;
  min-height: 40px;
  margin-top: auto;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .card__button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.card__button--more {
  color: #444444;
  background-color: #f2f2f2;
}

.more-products {
  width: 100%;
  padding-top: 25px;
}

.more-products__container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px 35px;
}
@media (min-width: 768px) {
  .more-products__container {
    max-width: unset;
    padding: 0 30px 76px;
  }
}
@media (min-width: 1440px) {
  .more-products__container {
    padding: 0 110px 86px;
    display: grid;
    grid-template-columns: repeat(4, 20.1%);
    column-gap: 6.5%;
  }
}

.more-products__title-wrapper {
  border-top: 2px solid #68b738;
}

.more-products__title-container {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .more-products__title-container {
    max-width: 768px;
    padding: 0 0 76px;
  }
}
@media (min-width: 1440px) {
  .more-products__title-container {
    max-width: 1440px;
    padding: 0 0 86px;
  }
}

.more-products__title {
  position: relative;
  display: inline-block;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 21px;
  line-height: 24px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .more-products__title {
    margin-bottom: 0;
    padding-left: 37px;
    padding-right: 36px;
  }
}
@media (min-width: 1440px) {
  .more-products__title {
    margin-left: 72px;
  }
}

.more-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .more-products__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1440px) {
  .more-products__list {
    grid-column: 1/4;
    margin-bottom: 0;
  }
}

.more-products__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .more-products__item {
    padding: 26px 38px 28px;
    border: 1px solid #cdcdcd;
  }
  .more-products__item:not(:first-of-type) {
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .more-products__item {
    display: grid;
    grid-template-columns: 32% 32% 27%;
    column-gap: 4.5%;
    padding: 15px 0 17px;
    align-items: center;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
  .more-products__item:not(:first-of-type) {
    border-top: 1px solid #cdcdcd;
  }
}
.more-products__item:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .more-products__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .more-products__wrapper {
    grid-column: 1/3;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    column-gap: 6%;
  }
}

.more-products__link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .more-products__link {
    width: 50%;
  }
}

.more-products__name {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .more-products__name {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.more-products__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .more-products__price {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1440px) {
  .more-products__price {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.more-products__text {
  line-height: 14px;
}
@media (min-width: 768px) {
  .more-products__text {
    text-align: right;
    line-height: 20px;
  }
  .more-products__text:last-of-type {
    min-width: 42px;
  }
  .more-products__text:not(:last-of-type) {
    margin-right: 49px;
  }
}

.more-products__button {
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  line-height: 12px;
}
@media (min-width: 1440px) {
  .more-products__button {
    grid-column: 3/4;
  }
}

.more-products__gift {
  position: relative;
  display: flex;
  justify-content: center;
}
.more-products__gift::before {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 280px;
  min-height: 290px;
  background-image: url("../img/gift.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.more-products__gift::after {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 280px;
  min-height: 290px;
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../img/icons/icon_gift.svg");
  background-position: 50% 59px;
  background-repeat: no-repeat;
  top: 0;
}
@media (min-width: 768px) {
  .more-products__gift {
    min-width: 707px;
    min-height: 200px;
    justify-content: flex-start;
  }
  .more-products__gift::before {
    background-image: url("../img/gift-tablet.jpg");
    min-width: 707px;
    min-height: 200px;
  }
  .more-products__gift::after {
    min-width: 707px;
    min-height: 200px;
    background-position: 12.5% 50%;
  }
}
@media (min-width: 1440px) {
  .more-products__gift {
    grid-column: 4/5;
    min-width: 100%;
    min-height: 289px;
    justify-content: center;
  }
  .more-products__gift::before {
    background-image: url("../img/gift-desktop.jpg");
    background-position: 50% 50%;
    min-width: 20.5%;
    min-height: 289px;
  }
  .more-products__gift::after {
    min-width: 20.5%;
    min-height: 289px;
    background-position: 51% 56px;
  }
}

.more-products__gift-text {
  display: flex;
  text-align: center;
  position: relative;
  line-height: 20px;
  font-family: "Lato", "Arial", sans-serif;
  color: #ffffff;
  z-index: 1;
  width: 58%;
  margin: 187px auto 43px auto;
}
@media (min-width: 768px) {
  .more-products__gift-text {
    width: 40%;
    min-width: 161px;
    margin: 71px 18% 69px 60%;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .more-products__gift-text {
    text-align: center;
    width: 58%;
    min-width: 161px;
    margin: 185px auto 42px auto;
  }
}

.form-block {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form-block {
    padding-top: 65px;
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .form-block {
    padding-top: 77px;
  }
}

.form-block__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form-block__container {
    max-width: 768px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form-block__container {
    max-width: 1440px;
    padding: 0 110px;
  }
}

.form-block__title-container {
  width: 100%;
}
@media (min-width: 768px) {
  .form-block__title-container {
    padding: 0;
  }
}

.form-block__title {
  margin-bottom: 37px;
  color: #000000;
}
@media (min-width: 768px) {
  .form-block__title {
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form-block__title {
    margin-bottom: 56px;
  }
}

.form-block__text {
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-block__text {
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper {
  margin: 0;
  padding: 0 20px;
  border: none;
}
@media (min-width: 768px) {
  .form__wrapper {
    width: 630px;
    margin: 0 auto;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper {
    padding: 0 110px;
  }
}
.form__wrapper--data {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__wrapper--data {
    margin-bottom: 72px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--data {
    width: 569px;
    margin-bottom: 0;
  }
}
.form__wrapper--target {
  padding: 22px 0 19px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__wrapper--target {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--target {
    width: 568px;
    min-height: 196px;
    margin-bottom: 0;
  }
}
.form__wrapper--contacts {
  width: 100%;
  padding: 38px 0 0;
}
@media (min-width: 768px) {
  .form__wrapper--contacts {
    padding-top: 75px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--contacts {
    padding-top: 69px;
  }
}
.form__wrapper--comment {
  width: 100%;
  padding: 35px 0 0;
}
@media (min-width: 768px) {
  .form__wrapper--comment {
    padding-top: 65px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--comment {
    padding-top: 67px;
  }
}
.form__wrapper--checkbox {
  width: 100%;
  padding: 34px 0 34px;
}
@media (min-width: 768px) {
  .form__wrapper--checkbox {
    padding-top: 65px;
    padding-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper--checkbox {
    padding-top: 67px;
    padding-bottom: 82px;
  }
}

@media (min-width: 768px) {
  .form__container {
    width: 100%;
    padding: 0 67px 0 71px;
  }
}
@media (min-width: 1440px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
    max-width: 1217px;
    margin: 0 auto;
    padding: 0;
  }
}

.form__title-wrapper {
  border-top: 2px solid #68b738;
}

.form__title-container {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__title-container {
    max-width: 768px;
    padding: 0 50px 0 49px;
  }
}
@media (min-width: 1440px) {
  .form__title-container {
    max-width: 1440px;
    padding: 0 90px 0 89px;
  }
}

.form__title {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 21px;
  line-height: 36px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 76px;
  }
}
.form__title--contacts {
  max-width: 225px;
  margin-bottom: 23px;
  transform: translateY(-37%);
}
@media (min-width: 768px) {
  .form__title--contacts {
    max-width: unset;
    margin-bottom: 58px;
    transform: translateY(-50%);
  }
}
.form__title--comment {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__title--comment {
    margin-bottom: 58px;
  }
}
.form__title--checkbox {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__title--checkbox {
    margin-bottom: 57px;
  }
}

@media (min-width: 768px) {
  .form__list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form__list-container {
    width: 1440px;
    padding: 0 110px;
  }
}

@media (min-width: 768px) {
  .form__list-wrapper {
    max-width: 533px;
  }
}
@media (min-width: 1440px) {
  .form__list-wrapper {
    max-width: unset;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__list {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .form__list--contacts {
    max-width: 630px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .form__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
    max-width: 1220px;
  }
}
.form__list--checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }
}
@media (min-width: 1440px) {
  .form__list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0;
    margin-bottom: 61px;
  }
}

@media (min-width: 768px) {
  .form__field--checkbox {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .form__field--checkbox {
    width: 25%;
  }
}

.form__item {
  display: flex;
  align-items: center;
}
.form__item:not(:last-of-type) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .form__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.form__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__label--text {
  margin-right: 13px;
}
.form__label--radio {
  color: #222222;
}
.form__label--checkbox {
  color: #000000;
}

.form__textarea-container {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__textarea-container {
    width: 631px;
  }
}
@media (min-width: 1440px) {
  .form__textarea-container {
    width: 1220px;
  }
}

.form__control {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background: inherit;
  padding: 13px 17px;
  border: 0;
  outline: 1px solid #cdcdcd;
  min-height: 45px;
  min-width: 173px;
}
@media (min-width: 1440px) {
  .form__control {
    min-height: 52px;
    padding: 10px 16px 10px 20px;
  }
}
.form__control--textarea {
  width: 100%;
  height: 150px;
  padding: 9px 11px 9px 14px;
  resize: none;
}
@media (min-width: 768px) {
  .form__control--textarea {
    height: 174px;
    padding: 10px 19px 11px;
  }
}

.form__button-wrapper {
  max-width: 280px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
    align-items: center;
    max-width: unset;
    margin: 0;
    padding: 0;
  }
}

.form__submit-button {
  min-width: 280px;
  min-height: 40px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .form__submit-button {
    min-width: 282px;
    margin-bottom: 0;
    margin-right: 64px;
  }
}
@media (min-width: 1440px) {
  .form__submit-button {
    min-width: 568px;
    margin-right: 84px;
  }
}

.form__notification {
  line-height: 16px;
}

input::placeholder,
textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  input::placeholder,
textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}

.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
}

.footer__social-wrapper {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    padding: 55px 30px;
  }
}
@media (min-width: 1440px) {
  .footer__social-wrapper {
    max-width: 1440px;
    padding: 66px 110px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__logo {
    width: 143px;
    height: 26px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */