//Шрифты
$font-main: "Oswald", "Arial", sans-serif;
$font-secondary: "Lato", "Arial", sans-serif;

//Цвета
$color-bg-main: #ffffff;
$color-bg-secondary: #f2f2f2;
$color-bg-additional: #eaeaea;
$color-bg-special: #68b738;
$color-bg-active: #5eaa2f;
$color-bg-icon: #d3d3d3;

$color-text-main: #000000;
$color-text-secondary: #ffffff;
$color-text-description: #444444;
$color-text-notice: #c4c4c4;
$color-text-additional: #111111;
$color-text-special: #222222;

$color-border: #d9d9d9;
$color-border-secondary: #cdcdcd;
$color-border-additional: #e6e6e6;
$color-border-special: #68b738;
$color-border-main: #ffffff;
$color-border-card: #f2f2f2;
$color-border-form: #e7e7e7;
$color-border-focus: #444444;

//Ширина экрана
$tablet: 768px;
$desktop: 1440px;
