//Шрифты
$font-main: "Oswald", sans-serif;
$font-secondary: "Lato", sans-serif;

//Цвета
$color-bg-main: #ffffff;
$color-bg-secondary: #f2f2f2;
$color-bg-additional: #eaeaea;
$color-bg-special: #68b738;

$color-text-main: #000000;
$color-text-secondary: #ffffff;
$color-text-description: #444444;
$color-text-notice: #c4c4c4;
$color-text-additional: #111111;

$color-border: #d9d9d9;
$color-border-secondary: #cdcdcd;
